<ion-header class="ion-header" [translucent]="true">
  <ion-toolbar >
    <ion-title>
      Ardutooth
    </ion-title>
    <ion-button expand="block" slot="end" color="danger" (click)="disconnected()"><ion-icon name="bluetooth-outline"></ion-icon></ion-button>
    <ion-button expand="block" slot="end" color="success" (click)="Listdevices()"><ion-icon name="reload-circle-outline"></ion-icon></ion-button>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="container" >
    <div *ngFor= "let device of Devices" >
      <ion-card  >
        <ion-card-content (click)="isConnect(device.address, device.name)"> 
          {{device.name}}
        </ion-card-content>
      </ion-card>
    
    </div>
  </div>
  <ion-fab color="danger" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentAlertPrompt()">
      <ion-icon name="send"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
